<!DOCTYPE html>
<html>
<head>
  <title>Главная!</title>
</head>
<body>
  <% if (user) { %>
    <h1>Привет, <%= user.displayName %>!</h1>
    <a href="/private">Приватная страница</a>
    <a href="/logout">Выйти</a>
  <% } else { %>
    <h1>Добро пожаловать!</h1>
    <a href="/login">Войти через Gmail</a>
  <% } %>
</body>
</html>