<!DOCTYPE html>
<html>
<head>
  <title>Вход</title>
</head>
<body>
  <h1>Вход</h1>
  <% if (message) { %>
    <p style="color: red;"><%= message %></p>
  <% } %>
  <a href="/auth/google">Войти через Gmail</a>
</body>
</html>