<!DOCTYPE html>
<html>
<head>
  <title>Приватная страница</title>
</head>
<body>
  <h1>Привет, <%= user.displayName %>!</h1>
  <p>Это приватная страница только для авторизованных пользователей.</p>
  <p>Ваш email: <%= user.email %></p>
  <a href="/">На главную</a>
  <a href="/logout">Выйти</a>
</body>
</html>